In [9]:
import pandas as pd 
import numpy as np
import random
from datetime import datetime, timedelta

In [2]:
np.random.seed(42)

In [3]:
num_records = 10000

In [5]:
#blood groups  :
blood_groups = ['A+', 'A-', 'B+', 'B-', 'O+', 'O-', 'AB+', 'AB-']
genders = ['M', 'F']

In [6]:
#object data for the stored data in generated csv 
data = {
    'Donor ID': [f'D{str(i).zfill(5)}' for i in range(1, num_records + 1)],
    'Age': np.random.randint(18, 61, size=num_records),
    'Blood Group': np.random.choice(blood_groups, size=num_records),
    'Gender': np.random.choice(genders, size=num_records),
    'Last Donation Date': [datetime.now() - timedelta(days=np.random.randint(30, 365*2)) for _ in range(num_records)],
    'Total Donations': np.random.randint(1, 21, size=num_records),
    'Latitude': np.random.uniform(8.0, 37.0, size=num_records),   # Approximate lattitude in accordance to  the map of india 
    'Longitude': np.random.uniform(68.0, 97.0, size=num_records), # Approx India lon range
    'Registered Availability': np.random.choice(['Yes', 'No'], size=num_records, p=[0.7, 0.3]),
    'Avg Donation Gap (days)': np.random.randint(60, 120, size=num_records),
    'Donation Willingness Score': np.round(np.random.uniform(0.3, 1.0, size=num_records), 2),
    'Health Flag': np.random.choice([1, 0], size=num_records, p=[0.85, 0.15])
}

In [10]:
df = pd.DataFrame(data)

In [11]:
df.head()

,Donor ID,Age,Blood Group,Gender,Last Donation Date,Total Donations,Latitude,Longitude,Registered Availability,Avg Donation Gap (days),Donation Willingness Score,Health Flag
0,D00001,56,O+,F,2024-07-25 12:20:39.897545,16,31.727210,76.393199,Yes,96,0.96,1
1,D00002,46,B-,M,2023-10-23 12:20:39.897564,2,35.086207,95.805058,No,76,0.65,1
2,D00003,32,A-,M,2024-10-02 12:20:39.897570,17,14.654570,74.086678,Yes,109,0.50,1
3,D00004,60,AB-,M,2024-04-07 12:20:39.897574,4,24.796653,89.998489,Yes,94,0.57,1
4,D00005,25,A-,M,2023-12-02 12:20:39.897578,14,31.325577,87.565493,Yes,110,0.48,0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Donor ID                    10000 non-null  object
 1   Age                         10000 non-null  int32
 2   Blood Group                 10000 non-null  object
 3   Gender                      10000 non-null  object
 4   Last Donation Date          10000 non-null  datetime64[ns]
 5   Total Donations             10000 non-null  int32
 6   Latitude                    10000 non-null  float64
 7   Longitude                   10000 non-null  float64
 8   Registered Availability     10000 non-null  object
 9   Avg Donation Gap (days)     10000 non-null  int32
 10  Donation Willingness Score  10000 non-null  float64
 11  Health Flag                 10000 non-null  int64
dtypes: datetime64[ns](1), float64(3), int32(3), int64(1), object(4)
memory usage: 820.4+ KB

In [13]:
df['Last Donation Date'] =  df['Last Donation Date'].dt.strftime('%y-%m-%d')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Donor ID                    10000 non-null  object
 1   Age                         10000 non-null  int32
 2   Blood Group                 10000 non-null  object
 3   Gender                      10000 non-null  object
 4   Last Donation Date          10000 non-null  object
 5   Total Donations             10000 non-null  int32
 6   Latitude                    10000 non-null  float64
 7   Longitude                   10000 non-null  float64
 8   Registered Availability     10000 non-null  object
 9   Avg Donation Gap (days)     10000 non-null  int32
 10  Donation Willingness Score  10000 non-null  float64
 11  Health Flag                 10000 non-null  int64
dtypes: float64(3), int32(3), int64(1), object(5)
memory usage: 820.4+ KB

In [17]:
df.to_csv('donor_data_dummy_india.csv',index = False)